*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.to-do-wrapper{
    margin: 0px 10px;
    text-align: center;
    display: flex;
    flex-flow: column;
    padding: 20px;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(#030e22cf, #000000db), url(assets/images/bg-img2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

   

}

.to-do-wrapper h2{
    color: #10ff00;
    margin: 10px;
    position: relative;
    
}

.to-do-wrapper h2::after{
    content: "";
    position: absolute;
    background-color: #10ff00;
    width: 100px;
    height: 1px;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: auto;
}

.to-do-wrapper h2::before{
    content: "";
    position: absolute;
    background-color: #fff;
    width: 15px;
    height: 10px;
    bottom: -9px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 200;

}

.to-do-wrapper #listWrapper li{
    border: 1px solid #000;
    margin-bottom: 15px;
    padding: 13px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    background-color: #ffffffd4;

}

.to-do-wrapper #listWrapper{
    margin-top: 20px;
}

#listWrapper li label span{
    font-size: 18px;
    margin-left: 4px;
}

#listWrapper li label input[type="checkbox"]{
    width: 15px;
    height: 15px;
}




.container{
    width: 100%;
    height: 200px;
    background-color: #000000bf;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    color: #e70b0b;
    border-radius: 8px;
 
}

.container .taskWrapper{
    display: flex;
    justify-content: center;
    padding: 0 10px;
}




.container .taskWrapper input{
    width: 80%;
    padding: 10px;
    border: 1px solid #af9e9e;
    border-radius: 5px 0px 0px 5px;

}


.container h1{
    margin-bottom: 10px;
}

.container .addBtn{
    background-color: #3df006;
    padding: 10px;
    border: none;
    color: #000;
    cursor: pointer;
}

.counter-container{
    margin: 15px 10px;
    border-top: 2px solid #fff;
    padding: 8px;
    text-align: center;

}

.counter-container .task-counter{
    font-size: 18px;
    color: #fff;
}

.container #error-msg{
    color: #e70b0b;
    margin-top: 8px;
    font-size: 16px;
    text-align: left;
    margin-left: 30px;
}

.completed{
    color: #555252;

}

.completed .task-text{
    text-decoration: line-through;
}

.btn1{
    background-color: #3df006;
    color: #000;
    padding: 5px 10px;
    margin-right: 15px;
    border-radius: 4px;
}

.btn2{
    background-color: #e70b0b;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
}



@media (max-width:576px) {
    .container h1{
        font-size: 24px;

 }

 .to-do-wrapper h2{
    font-size: 20px;
 }

 .counter-container .task-counter{
    font-size: 15px;
 }

 .container .addBtn{
    font-size: 15px;
 }


}